flows.json
{
    "flows":[{"id":"7bb2769ccb257749","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e52d5fac34fdade7","type":"listener","z":"7bb2769ccb257749","name":"ADD button listener","trigger":"click","query":"button.add","x":250,"y":120,"wires":[["c380ac5910d38d76"]]},{"id":"c380ac5910d38d76","type":"template","z":"7bb2769ccb257749","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<tr>\n    <td><input type=\"text\"></td>\n    <td><input type=\"text\"></td>\n    <td><input type=\"text\"></td>\n</tr>","output":"str","x":480,"y":120,"wires":[["472959208dc6e30e"]]},{"id":"ce89141bfbd6a90d","type":"file","z":"7bb2769ccb257749","name":"","filename":"data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":680,"y":260,"wires":[[]]},{"id":"aae92123dca5e2d3","type":"listener","z":"7bb2769ccb257749","name":"DL button listener","trigger":"click","query":"button.dl","x":240,"y":260,"wires":[["0343157c19660dba"]]},{"id":"472959208dc6e30e","type":"append","z":"7bb2769ccb257749","name":"append row","query":"#myTable tbody","x":710,"y":120,"wires":[[]]},{"id":"0343157c19660dba","type":"function","z":"7bb2769ccb257749","name":"compileData","func":"var header = [];\nvar data = [];\n\n$(\"#myTable th\").each(function(){\n    header.push($(this).html());\n});\nheader = header.join(\",\");\n\n$(\"#myTable tr\").each(function(){\n    var row = [];\n    $(this).find(\"td input\").each(function(){\n        row.push($(this).val());\n    });\n    row = row.join(\",\");\n    if(row.length > 0){\n        data.push(row);\n    }\n})\ndata = data.join(\"\\n\");\nmsg.payload = header + \"\\n\" + data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":260,"wires":[["ce89141bfbd6a90d"]]}],
    "rev": "foo"
}